@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

h1 {
  font-family: 'Bungee', cursive;
  text-shadow: 7px 5px 14px #d6d3d3;
  letter-spacing: 2px;
  color: rgb(8, 8, 8);
}
